@model List<CCROLEMENU>

<div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">

        <li class="sidebar-toggler-wrapper">

            <div class="sidebar-toggler">
            </div>

        </li>
        <li class="sidebar-search-wrapper">
            <div class="sidebar-search">
                <div class="input-group">
                    <input type="text" class="form-control" id="srchTxt" placeholder="Ticket/Name/Contact/Card/Ac No" style="color: #fff;">
                    <span class="input-group-btn">
                        <a class="btn submit" id="srchBtn" data-url="@Url.Action("SrchTicket", "Home")" ><i class="icon-magnifier"></i></a>
                    </span>
                </div>

            </div>
            <!-- END RESPONSIVE QUICK SEARCH FORM -->
        </li>
        @foreach (var item in Model)
        {
            @Html.ParentMenuItem(item.CCMENU.NAME, item.CCMENU.CCMENU1.OrderBy(t => t.ORDERNO).ToList(), iconClass: item.CCMENU.ICONTEXT);
        }

    </ul>

</div>
